:root {
--primary-color: #000;
}
.modal-body .search-form button.btn-secondary:focus,
.modal-body .search-form button.btn-secondary:hover,
#navbar-main-btn-search button:focus,
#navbar-main-btn-search button:hover {
	box-shadow: 0 0 0 0.2rem rgb(255 255 255);
}
body .calendarp:not(#nocalendarp) .agenda-minified-calendar .calendarp-date-item .calendarp-date .calendarp-date-day,
body .calendarp:not(#nocalendarp) .agenda-minified-calendar .calendarp-date-item .calendarp-date .calendarp-date-month {
	color: #fff;
	background: var(--primary-color);
}
.entry-col-boxed article a,
.sidebar-widget-area-boxed .sidebar-widget-area-content a,
.wp-block-cover:not([class*=background-color]) a,
.wp-block-latest-posts.is-grid li a,
[class*=has-background].has-color-boxes-background-color a {
	color: #fff;
}
.wp-block-cover__inner-container .wp-block-button__link:focus {
	box-shadow: 0 0 0 0.2rem rgb(255 255 255) !important;
}
.has-header-main-bg-color-background-color[class*=has-background] {
	background-color: var(--primary-color);
}
.has-header-main-bg-color-background-color .nav .current-menu-ancestor a:not(.has-styling),
.has-header-main-bg-color-background-color .nav .current-menu-item a:not(.has-styling) {
	color: #ccc;
}

.navbar .navbar-brand-text {
    font-size: 2.2em;
    font-weight: 500;
    border-bottom: 1px dotted #fff !important;
}
.hwp_wp-block-columns--people-cards .wp-block-column {
    
    border-top: 3px solid #111;
}


.has-hero-main-bg-color-background-color[class*=has-background] {
background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='87' height='50.232' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(60, 6%, 93%, 1)'/><path d='M0 54.424l14.5-8.373c4.813 2.767 9.705 5.573 14.5 8.37l14.5-8.373V29.303M0 4.193v16.744l-14.5 8.373L0 37.68l14.5-8.374V12.562l29-16.746m43.5 58.6l-14.5-8.37v-33.49c-4.795-2.797-9.687-5.603-14.5-8.37m43.5 25.111L87 37.67c-4.795-2.797-24.187-13.973-29-16.74l-14.5 8.373-14.5-8.37v-33.489m72.5 8.365L87 4.183l-14.5-8.37M87 4.183v16.745L58 37.673v16.744m0-66.976V4.185L43.5 12.56c-4.795-2.797-24.187-13.973-29-16.74L0 4.192l-14.5-8.37m29 33.484c4.813 2.767 9.705 5.573 14.5 8.37V54.42'  stroke-linecap='square' stroke-width='1' stroke='hsla(0, 0%, 0%, 0.06)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
background-position: 0;
}
