:root {
	--crimson: #B41110
}
.entry-title a,
.entry-title a:hover,
.wp-block-latest-posts>li>a:first-of-type,
.wp-block-latest-posts>li>a:hover:first-of-type {
	color: var(--crimson);
}
body .calendarp:not(#nocalendarp) .agenda-minified-calendar .calendarp-date-item .calendarp-date .calendarp-date-day,
body .calendarp:not(#nocalendarp) .agenda-minified-calendar .calendarp-date-item .calendarp-date .calendarp-date-month {
	background: var(--crimson);
}
body .calendarp:not(#nocalendarp) .agenda-minified-calendar .calendarp-date-item .calendarp-date .calendarp-date-day,
body .calendarp:not(#nocalendarp) .agenda-minified-calendar .calendarp-date-item .calendarp-date .calendarp-date-month,
body .calendarp:not(#nocalendarp) .agenda-minified-calendar .calendarp-date-item .calendarp-date .calendarp-date-month {
	color: #fff;
}

body .calendarp:not(#nocalendarp) .agenda-minified-calendar .calendarp-date-item .calendarp-date .calendarp-date-month {
border-color:var(--crimson);
}
.calendarp:not(#nocalendarp) .agenda-minified-calendar .calendarp-date-item .calendarp-date .calendarp-date-day {
    border-left: none !important;
    border-right: none !important;
    
}
[class*=has-background].has-hero-main-bg-color-background-color a {
    color: #fff !important;
}
