:root {
	--band-margin: 5rem;
}
/* GLOBAL STYLES **/


.wp-block-cover h1::after {
display: none;
}

.band-bottom-margin {
	margin-bottom: var(--band-margin);
}

.wp-block-latest-posts>li>a:first-of-type {
    text-decoration: underline;
}

/* BRANDING FOOTER **/

#branding_footer {
	padding: 8px 0;
}
/* CALENDAR PLUS **/

.calendarp:not(#nocalendarp) .agenda-minified-calendar .calendarp-date-item .calendarp-events .calendar-event h3 {
	font-size: 1.7rem !important;
}
